# IDE
.idea
.vscode

# Output of the go covetage tool
*.out

# Test binary `go test -c`
*.test
!.env.test

# docker tmp files
build/docker/.env
build/docker/.env.test
build/docker/.trigger-live-reload
.env
/.envrc

.git
bin/*

tmp/*
!tmp/.keep

.tmp/*
!.tmp/.keep

.DS_Store

vendor
allure-results/
allure-report/
